@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #dad4d4;
  }
}

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: #fae6ce;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.img-content {
  display: flex;
  justify-content: center;
}

.grid-a {
  width: 100%;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
  gap: 20px;
}

.grid-b {
  width: 100%;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 0 auto;
  gap: 20px;
}

.centered-div {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  max-height: 90%; /* Prevents the div from exceeding the viewport height */
  max-width: 90%;  /* Prevents the div from exceeding the viewport width */
  overflow-y: auto; /* Enables vertical scrolling if content overflows */
  overflow-x: hidden; /* Optionally hide horizontal scrolling */
}


/* Style the scrollbar track (background) */
.centered-div::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Style the scrollbar thumb (handle) */
.centered-div::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Dark gray */
  border-radius: 10px; /* Rounded corners */
  border: 3px solid #262626; /* Padding around the thumb */
}

/* Style the scrollbar track (background) */
.centered-div::-webkit-scrollbar-track {
  background-color: #262626; /* Background color of the track */
  border-radius: 10px;
}

/* Optional: Hover effect on scrollbar thumb */
.centered-div::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; /* Lighter gray on hover */
}


/* Style the scrollbar track (background) */
.scrollbar-b::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Style the scrollbar thumb (handle) */
.scrollbar-b::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Dark gray */
  border-radius: 10px; /* Rounded corners */
  border: 3px solid #262626; /* Padding around the thumb */
}

/* Style the scrollbar track (background) */
.scrollbar-b::-webkit-scrollbar-track {
  background-color: #262626; /* Background color of the track */
  border-radius: 10px;
}

/* Optional: Hover effect on scrollbar thumb */
.scrollbar-b::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; /* Lighter gray on hover */
}
